<input type="file" (change)="fileChangeEvent($event)" />

<div style="display: flex; justify-content: space-around;">
  <div style="width: 480px; height: 270px;  ">
    <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="16 / 9"
      [resizeToWidth]="1440" [backgroundColor]="'#afafaf'" format="jpeg" (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()" (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"
      style="max-height: 270px"></image-cropper>

  </div>


  <div style="width: 480px; height: 270px; overflow: hidden; background-color: grey;">
    <img style="width: inherit;" [src]="croppedImage" />
  </div>
</div>